@model Nadia218005170.Models.Books

@{
    Layout = "_Layout";
}

<form>
    Id:<br>
<input type= "text" name="Id"/><br>
        ISBN:<br>
<input type="text" name="ISBn"/><br>
    BookTitle:<br>
    <input type ="text" name ="BookTitle"/>
</form>